.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-auto-rows: $card-height;
  justify-content: center;
  gap: $gap-size;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
    transition: 0.3s;

    &:hover {
      color: #34568b;
      transform: scale(1.2);
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  // Media
  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }
  @media (max-width: 487px) {
    grid-template-columns: $card-width;
  }
}
